
.category__title {
    text-align: center;
    color: #777777;
    font-size: 14px;
    margin-bottom: 35px;
    font-weight: bold;
}
.category__box {
    border: 2px solid #FC025A; 
    margin-bottom: 25px;
    transition: .3s ease-in-out;
    border-radius: 4px;
}
.category__box:hover {
    border: 2px solid #FC025A; 
    background-color: #FC025A;
}
.category__box:hover .category__type {
    color: #ffffff;
}
.category__box:hover .category__link {
    text-decoration: none;
}
.category__link {
    padding: 25px;
    display: block;  
}
.category__type {
    color: #FC025A;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    word-break: break-all;
}
@media (min-width: 768px) { 
    .category__link {
        padding: 60px;
    }
    .category__title {
        font-size: 48px;
    }
}


