body * {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
}

.container-fluid {
    max-width: 1990px;
    padding: 0 25px;
}

section {
    padding: 25px 0;
}

a {
    display: inline-block;
}

.nav__icon {
    transition: .3s ease-in-out;
    margin: 20px;
}
.nav__icon:hover {
    opacity: .8;
}


/* buttons */
.button {
    background-color: #FC025A;
    color: #ffffff;
    padding: 15px 30px;
    min-width: 160px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: .3s all;
}
.button:hover {
    text-decoration: none;
}
.button--right {
    float: right;
}
@media (min-width: 768px) { 
    section {
        padding: 60px 0;
    }
    .button--right {
        float: none;
    }
}